* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}
header {
	background-color: #00838F;
	color: white;
	padding: 5px;
	font-size: 130%;
	text-align: center;
	clear: both;
}

footer {
	background-color: #00838F;
	color: white;
	padding: 5px;
	font-size: 130%;
	text-align: center;
	clear: both;
}

.lewy1 {
    background-color: #EFEFEF;
    width: 55%;
    height: 150px;
    float: left;
}

.lewy2 {
    background-color: #EFEFEF;
    width: 55%;
    height: 300px;
    float: left;
}

.prawy {
    background-color: #4FB3BF;
    width: 45%;
    height: 450px;
    text-align: center;
    float: right;
}

img {
    box-shadow: 10px 10px 7px DimGray;
	margin: 20px;
}
table{
    border: 1px solid #4FB3BF;
	border-collapse: collapse;
    margin:auto;
    width: 80%;
    padding: 4px;
}
th{
    border: 1px solid #4FB3BF;
	border-collapse: collapse;
    padding: 4px;

}
td {
	border: 1px solid #4FB3BF;
	border-collapse: collapse;
}
tr:hover {
	background-color: #4FB3BF;
}